@import "tailwindcss";

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

body{
  background-color: black;
  color: white;
}

@keyframes rotateCube {
  from { transform: rotateX(0deg) rotateY(0deg); }
  to   { transform: rotateX(360deg) rotateY(360deg); }
}

/* #particles canvas{
  z-index: -1;
  height: auto;
  width: auto;
  position: absolute;
} */
 