.heading-container {
  position: absolute;
  top: 5%;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  z-index: 0;
}

.moving-text {
  font-size: 10rem;
  font-weight: bold;
  background: linear-gradient(to right, #7042f8, #b49bff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  position: relative;
  display: inline-block;
  animation: moveText 20s linear infinite;
}

@keyframes moveText {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
